body {
	display: flex;
}

.row {
	width: 100%;
	height: 50px;
	background-color: red;
}

.isAlive{
	background-color: green;
}

.block{
	display: inline-block;
	width: 10px;
	height: 36px;
	border: 7px solid gray;
}

#map {
	max-width: 70%;
	display: inline-block;

}

.inputs {
	display: flex;
	flex-wrap: wrap;
	max-width: 20%;
}